body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.dashboard-container {
    display: flex;
    justify-content: space-between; /* Esto separará los elementos a los extremos del contenedor */
    align-items: flex-start;
    gap: 20px; /* Aumenta este valor si necesitas más espacio */
    margin: 40px auto;
    max-width: 1200px;
    padding: 20px;
}

.stats-panel {
    flex: 2;
    /* Añadir estilos específicos para la presentación de las estadísticas aquí */
}

.options-panel {
    flex: 1;
    padding-left: 20px; /* Añade un padding a la izquierda para empujarlo hacia la derecha */
    max-width: 400px; /* O ajusta el ancho máximo según sea necesario */
}

.card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 20px;
    width: 100%; /* Ajusta al ancho del panel de opciones */
}

/* Estilo para dispositivos móviles */
@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
        align-items: center; /* Asegura que los elementos hijos estén centrados */
        padding: 20px;
    }

    .stats-panel,
    .options-panel {
        width: 100%; /* Ajusta el ancho para que ocupe el ancho total del contenedor padre */
        max-width: none; /* Elimina cualquier restricción de ancho máximo */
        padding: 0; /* Restablece el padding para evitar desplazamientos */
        display: flex; /* Usa flexbox para alinear y centrar el contenido */
        flex-direction: column; /* Alinea los hijos en una columna */
        align-items: center; /* Centra los elementos en el eje transversal */
        margin-bottom: 20px; /* Agrega espacio debajo del panel */
    }

    .card,
    .stats-item-card {
        width: calc(100% - 40px); /* Calcula el ancho basado en el ancho total menos el padding deseado */
        margin: 0 auto 20px auto; /* Añade margen automático a los lados para centrar */
    }

    .create-playlist-btn {
        width: auto; /* Permite que el botón se ajuste al contenido o al tamaño deseado */
        margin: 10px auto; /* Añade margen automático a los lados para centrar */
    }
}


.input-group {
    margin-bottom: 25px;
}

.dropdown, .submit-btn, .toggle-buttons .btn {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-sizing: border-box;
}

.toggle-buttons {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.toggle-buttons .btn {
    padding: 10px 20px;
    font-family: 'Open Sans', sans-serif; /* Esta es la fuente que ya estás usando */
    font-size: 16px;
    font-weight: 600; /* Hace la tipografía más gruesa */
    background-color: #fff;
    color: #666; /* Un color de texto más oscuro para el estado inactivo */
    border: 2px solid #ddd; /* Un borde más definido */
    border-radius: 20px; /* Bordes redondeados, pero no completamente circulares */
    cursor: pointer;
    transition: all 0.3s ease; /* Transición suave para cambios de estado */
    margin-right: 8px; /* Espaciado entre botones */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera para dar profundidad */
}

input[type="radio"]:checked + .btn {
    background-color: #1DB954; /* Color verde de Spotify */
    color: #fff; /* Texto blanco para alto contraste */
    border-color: #1DB954; /* Borde del mismo color que el fondo para efecto de botón sólido */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada para resaltar el botón activo */
}

.toggle-buttons .btn:hover:not(:checked) {
    background-color: #f8f8f8; /* Un ligero cambio de color al pasar el cursor */
}

.toggle-buttons .btn:last-child {
    margin-right: 0;
}

.toggle-buttons .btn:hover,
.toggle-buttons input[type="radio"]:checked + .btn {
    background-color: #e7e7e7;
    border-color: #000;
}

.submit-btn {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #1DB954; /* Color verde de Spotify */
    border: none;
    border-radius: 4px; /* Bordes ligeramente redondeados para un look moderno */
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
}

.submit-btn:hover {
    background-color: #1ed760; /* Un verde ligeramente más claro al pasar el ratón */
    transform: translateY(-2px); /* Eleva ligeramente el botón */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* Sombra más grande para efecto de elevación */
}

.submit-btn:active {
    background-color: #1aa34a; /* Un verde más oscuro al hacer clic */
    transform: translateY(1px); /* Da la impresión de estar presionado */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra más pequeña para efecto de presión */
}

/* Responsive Design */
/* Estilo para dispositivos móviles */


.stats-panel {
    flex: 2;
    padding-right: 20px; /* Añade un padding a la derecha para evitar que choque con las opciones */
    max-width: 600px; /* Ajusta según el contenido */
}

.stats-item-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;
    transition: transform 0.2s;
}

.stats-item-card:hover {
    transform: translateY(-5px); /* Efecto de "levitación" al pasar el ratón */
}

.stats-image {
    width: 80px;
    height: 80px;
    border-radius: 10px; /* Opcional: para imágenes redondeadas */
    object-fit: cover; /* Asegura que la imagen cubra el espacio asignado */
    margin-right: 20px;
}

.stats-info h4 {
    margin: 0;
    font-size: 1em;
}

.stats-info p {
    margin: 0;
    color: #666;
    font-size: 0.8em;
}



/* Esto ocultará visualmente el input pero lo mantendrá accesible para lectores de pantalla */
.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.btn {
    /* Tus estilos para las etiquetas que actúan como botones, por ejemplo: */
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #f7f7f7;
    cursor: pointer;
    border-radius: 9999px; /* Redondeado completo */
    /* ...otros estilos... */
}

/* Cambia el aspecto cuando el input asociado está seleccionado */
input[type="radio"]:checked + .btn {
    color: #1db954; /* Color verde de Spotify */
    /* ...otros estilos... */
}


.create-playlist-btn {
    display: block; /* Hace que el botón sea un bloque para ocupar todo el ancho del contenedor */
    width: 100%; /* Ocupa todo el ancho disponible */
    text-align: center; /* Centra el texto dentro del botón */
    border: none; /* No hay borde */
    border-radius: 4px; /* Bordes ligeramente redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transición suave para efectos de hover y click */
}

.create-playlist-btn:hover {
    background-color: #1ed760; /* Un verde ligeramente más claro para el efecto hover */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más grande para el efecto hover */
}

.create-playlist-btn:active {
    background-color: #1aa34a; /* Un verde más oscuro para el efecto click */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra más pequeña para el efecto click */
}


.hidden {
    display: none;
}
